    <header class="header-area header-1 bg-white pt-0" data-aos="fade-down">
        
        <!-- Start mobile menu -->
        <div class="mobile-menu">
            <div class="container">
                <div class="mobile-menu-wrapper"></div>
            </div>
        </div>
        <!-- End mobile menu -->

        <div class="main-responsive-nav">
            <div class="container">
                <!-- Mobile Logo -->
                <div class="logo">
                    <a href="index.html" target="_self" title="Superv">
                        <img src="/clients/assets/images/logo/logo-1.png" alt="Brand logo">
                    </a>
                </div>
                <!-- Menu toggle button -->
                <button class="menu-toggler" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html" target="_self" title="Superv">
                        <img src="/clients/assets/images/logo/logo-1.png" alt="Brand Logo">
                    </a>
                    <!-- Navigation items -->
                    <div class="collapse navbar-collapse">
                        <ul id="mainMenu" class="navbar-nav mobile-item mx-auto">
                            <li class="nav-item">
                                <a href="#home" class="nav-link toggle">Home <i class="fal fa-plus"></i></a>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#services">Services<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="services.html">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="service-details.html">Service Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#vendors">Vendors<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="vendors.html">Vendors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="vendor-details.html">Vendor Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#pages">Pages<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link toggle" href="javaScript:void(0)">My Account<i class="fal fa-plus"></i></a>
                                        <ul class="menu-dropdown">
                                            <li class="nav-item">
                                                <a class="nav-link" href="dashboard.html">Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="order.html">Order List</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="order-details.html">Order Details</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="profile.html">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="login.html">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="signup.html">Signup</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="reset-password.html">Reset Password</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="forgot-password.html">Forgot Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="wishlist.html">Wishlist</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="checkout.html">Checkout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#blogs">Blog<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="blogs.html">Blogs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="blog-details.html">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="more-option mobile-item">
                        <div class="item">
                            <div class="language">
                                <select class="niceselect">
                                    <option value="1">Eng</option>
                                    <option value="2">Chi</option>
                                    <option value="3">Fre</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <a href="login.html" class="btn btn-md btn-primary btn-gradient icon-start" title="Login" target="_self"><i class="fal fa-sign-in-alt"></i> Login</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>