<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KreativDev">

    <!-- Title -->
    <title>Bookapp - Appointment Booking Html Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/clients/assets/images/logo/fav.png" type="image/x-icon">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&amp;family=Poppins:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/bootstrap.min.css">
    <!-- Data Tables CSS -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/datatables.min.css">
    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="/clients/assets/fonts/fontawesome/css/all.min.css">
    <!-- Icomoon Icon CSS -->
    <link rel="stylesheet" href="/clients/assets/fonts/icomoon/style.css">
    <!-- Date-range Picker -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/daterangepicker.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/magnific-popup.min.css">
    <!-- Swiper Slider -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/swiper-bundle.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/nice-select.css">
    <!-- NoUi Range Slider -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/nouislider.min.css">
    <!--====== Stepper css ======-->
    <link rel="stylesheet" href="/clients/assets/css/vendors/bs-stepper.min.css">
    <!--====== calendar css ======-->
    <link rel="stylesheet" href="/clients/assets/css/vendors/pignose.calendar.min.css">
    <!-- AOS Animation CSS -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/aos.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/clients/assets/css/vendors/animate.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/clients/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/clients/assets/css/responsive.css">