<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themeforest.kreativdev.com/bookapp/demo/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Aug 2025 15:31:00 GMT -->

<head>
    <%- include('./layout/head') %>
</head>

<body class="theme-color-1">
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader"></div>
    </div>
    <!-- Preloader end -->

    <div class="authentication-area bg-light">
        <div class="container">
            <div class="row min-vh-100 align-items-center">
                <div class="col-12">
                    <div class="wrapper shadow-md radius-lg bg-white">
                        <div class="row align-items-center">

                            <div class="col-lg-6 bg-primary-light">
                                <div class="content">
                                    <div class="logo mb-3 p-30">
                                        <a href="index.html" target="_self" title="Teeno"><img
                                                src="/clients/assets/images/logo/logo-1.png" alt="Logo"></a>
                                    </div>
                                    <div class="svg-image">
                                        <img class="lazyload" src="/clients/assets/images/login.svg" alt="Image">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="main-form">
                                    <a href="index.html" class="icon-link" title="Go back to home" target="_self"><i
                                            class="fal fa-home"></i></a>
                                    <div class="title">
                                        <h3 class="mb-30">Đăng nhập Admin</h3>
                                    </div>
                                    <% if (error) { %>
                                        <p style="color:red;">
                                            <%= error %>
                                        </p>
                                        <% } %>
                                            <form action="/LoginAdmin" method="post"
                                                enctype="application/x-www-form-urlencoded" id="authForm">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group mb-20">
                                                            <label for="userName2" class="form-label color-dark">Họ tên hoặc Email<span class="color-red">*</span></label>
                                                            <input type="text" name="UserNameOrEmail"
                                                                id="UserNameOrEmail" class="form-control"
                                                                placeholder="Tên hoặc Email">
                                                            <p id="NotificationUserNameOrEmail">
                                                            </p>
                                                        </div>

                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group mb-20">
                                                            <label for="password" class="form-label color-dark">Mật khẩu<span class="color-red">*</span></label>
                                                            <div class="position-relative">
                                                                <input type="password" name="password" id="password"
                                                                    class="form-control" placeholder="Mật khẩu">
                                                                <span class="show-password-field">
                                                                    <i class="show-icon"></i>
                                                                </span>
                                                                <p id="Notificationpassword"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-center mt-10 mb-15">
                                                    <button class="btn btn-lg btn-primary btn-gradient w-100"
                                                        type="submit">Đăng nhập</button>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Review Modal End -->
    <%- include('./layout/js') %>
        <script src="/FormLogin.js"></script>
</body>


<!-- Mirrored from themeforest.kreativdev.com/bookapp/demo/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Aug 2025 15:31:00 GMT -->

</html>